In [1]:
from sklearn.datasets import load_diabetes
import numpy as np
import pandas as pd

In [2]:
diabetes = pd.read_csv('diabetes.csv')

In [3]:
diabetes.keys()

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [4]:
print(diabetes.Outcome)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [5]:
diabetes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [6]:
diabetes.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [7]:
diabetes.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [8]:
from sklearn.model_selection import train_test_split
feature_columns = ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction',
                  'Age']
predicted_class = ['Outcome']

In [9]:
x = diabetes[feature_columns]
y = diabetes[predicted_class]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=51)

In [10]:
x_train

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
502,6,0,68,41,0,39.0,0.727,41
493,4,125,70,18,122,28.9,1.144,45
299,8,112,72,0,0,23.6,0.840,58
77,5,95,72,33,0,37.7,0.370,27
552,6,114,88,0,0,27.8,0.247,66
...,...,...,...,...,...,...,...,...
528,0,117,66,31,188,30.8,0.493,22
709,2,93,64,32,160,38.0,0.674,23
736,0,126,86,27,120,27.4,0.515,21
485,0,135,68,42,250,42.3,0.365,24
57,0,100,88,60,110,46.8,0.962,31

In [11]:
x_test

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
737,8,65,72,23,0,32.0,0.600,42
505,10,75,82,0,0,33.3,0.263,38
296,2,146,70,38,360,28.0,0.337,29
711,5,126,78,27,22,29.6,0.439,40
329,6,105,70,32,68,30.8,0.122,37
...,...,...,...,...,...,...,...,...
649,0,107,60,25,0,26.4,0.133,23
599,1,109,38,18,120,23.1,0.407,26
303,5,115,98,0,0,52.9,0.209,28
114,7,160,54,32,175,30.5,0.588,39
672,10,68,106,23,49,35.5,0.285,47

In [12]:
y.head()

   Outcome
0        1
1        0
2        1
3        0
4        1

In [13]:
from sklearn.impute import SimpleImputer
si = SimpleImputer(missing_values=np.nan, strategy='mean')
x_train_si = si.fit_transform(x_train)
x_test_si = si.fit_transform(x_test)

In [14]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf_classifier = RandomForestClassifier(n_estimators=20, random_state=51)
rf_classifier.fit(x_train_si, y_train)
y_pred_rf = rf_classifier.predict(x_test_si)
accuracy_score(y_test, y_pred_rf)

c:\users\saurabh ahekar\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  after removing the cwd from sys.path.

0.7597402597402597

In [15]:
params={
 "learning_rate"    : [0.05, 0.10, 0.15, 0.20, 0.25, 0.30 ] ,
 "max_depth"        : [ 3, 4, 5, 6, 8, 10, 12, 15],
 "min_child_weight" : [ 1, 3, 5, 7 ],
 "gamma"            : [ 0.0, 0.1, 0.2 , 0.3, 0.4 ],
 "colsample_bytree" : [ 0.3, 0.4, 0.5 , 0.7 ]
    
}

In [16]:
from sklearn.model_selection import RandomizedSearchCV
import xgboost

In [17]:
rgb_classifier = xgboost.XGBClassifier()

In [18]:
random_search = RandomizedSearchCV(rgb_classifier, param_distributions=params, n_iter=5, scoring='roc_auc', n_jobs=-1, cv=5, verbose=3)

In [19]:
rgb_classifier = xgboost.XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=0.3, gamma=0.0, learning_rate=0.25,
       max_delta_step=0, max_depth=3, min_child_weight=7, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [20]:
accuracy_score(y_test, y_pred_rf)

0.7597402597402597

In [21]:
import joblib
joblib.dump(rf_classifier, 'diabetes_predictor.pkl')

['diabetes_predictor.pkl']

In [22]:
model = joblib.load('diabetes_predictor.pkl')